@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


a:link  {
	color: #F75A08;
}
a:visited {
	color: #FF9933;
}
a:active {
  color: #FF9933;
}

a.route:link {
  color: #000000;
  text-decoration: none;
}

.head {
  background: #056635;
  color: WHITE;
  font-weight: bold;
  font-family : 'Source Sans Pro', sans-serif;
  font-size : 14px;
  text-align: center;
}
.light {
  background-color: #ffffff;

}
.dark {
  background: #ffffff;
  color:#056635;
}
.highlight {
  color : #ffffff;
}

.bd {
  background-color:#ffffff;
}

body,p,table,td,tr {
  font-family : 'Source Sans Pro', sans-serif;
  font-weight : normal;
  font-size : 12px;
  background: transparent;
}

td {
  padding:8px;
  border-bottom: 1px solid #ddd;  
}


tr:hover{
  background-color: #F79131;
}

table {
  text-align: left;
  background-color:#ffffff;
}



