
a:link  {
	color: #F75A08;
}
a:visited {
	color: #FF9933;
}
a:active {
    color: #FF9933;
}

a.route:link {
    color: #000000;
    text-decoration: none;
}

.head {
  background: #a7d08d;
  color: BLACK;
  font-weight: bold;
  font-family : Arial;
  font-size : 12px;
  text-align: center;
}
.light {

}
.dark {
  background: #e2efd9;
}
.highlight {
 color : #F75A08;
}
body,p,table,td,tr {
 font-family : Verdana, sans-serif;
 font-size : 11px;
 background: transparent;
}

table {
    text-align: left;
}
.gd {
	background: transparent;

  /* text-align: left; */
}
.gl {
  /* background: WHITE; */
  /*text-align: left; */
}
.gh {
	background: transparent;
  color: WHITE;
  font-weight: bold;
  font-family : Arial;
  font-size: 12px;
  text-align: center;
}
.bd {
   background: none transparent
}
.msg {
background: none transparent;
font-size : 14px;
}
.titel {

color : #F75A08;
}
.ads {

}
